ul.hm{
	list-style-type:none;	
	background-color:a1a1f1;
	margin:0px;
	border:1px solid blue;
}

li.hm{
	display:inline-block;
	font-size:20px;
	padding-right:20px;
	letter-spacing:2px;
}
li a.hm{
	text-decoration:none;
	display:block;
	color:white;
	margin-left:5px;
	padding:8px 8px 8px;
	text-align:center;
	font-style:oblique;
}
li a.hm:hover{
	color:black;
	background-color:white;
	
	
	
}